<h1>Listing Dojos!!</h1>
<table>
    <th>
        <tr>
        <td> Branch</td>
        <td> Street</td>
        <td> City </td>
        <td> State</td>
        <td> Actions </td>
        </tr>
    </th>
 <% @branch.each do |branch| %>    
    <tr>
    <td> <%= branch.name %> </td>
    <td> <%= branch.street %> </td>
    <td> <%= branch.city %> </td>
    <td> <%= branch.state %> </td>
    <td> <a href="show/<%= branch.id%>">show </a></td>
    <td> <a href="/edit/<%= branch.id%>" value="patch" method="post"> edit </a></td>
    <td> <a href="/delete/<%= branch.id%> " value="delete" method="post"> delete </a></td>        
    </tr>
<% end %>
</table>
<a href="new" >New Dojo</a>
