
<h1> Info about <%= @dojo.branch %> </h1>
<p> Name: <%= @dojo.branch %> </p>
<p> Street: <%= @dojo.street %> </p>
<p> City: <%= @dojo.city %> </p>
<p> State: <%= @dojo.state %> </p>
<h2> Student Roster: </h2>
<%= link_to "Back", root_path %>
<table>
    <th>
    <tr> 
    <td> First Name </td>
    <td> Last Name </td>
    <td> Email </td>
    <td> Actions </td>
    <tr> 
    </th>
    <% @students.each do |student| %>
    <tr>
    <td> <%= student.first_name %> </td>
    <td> <%= student.last_name %> </td>
    <td> <%= student.email %> </td>
    <td> <a href="/dojo/<%= @dojo.id %>/students/<%= student.id %> "> show </a></td>
    <td> <a href="/students/edit/<%= student.id %>"> edit </a></td>
    <td> 
<a href="/students/destroy/<%= student.id%>" value = "delete" method="post"> delete </a>
    </td>
    </tr>
    <% end %>
    </table>
<a href="/"> Home</a>
<a href="/dojos/<%= @dojo.id %>/students/new">"Make" A Student </a>
